<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [91]:
import pandas as pd
import numpy as np

# df = pd.read_csv('sample.csv')


import random
p = 0.1  # 1% of the lines
# keep the header, then take only 1% of lines
# if random from [0,1] interval is greater than 0.01 the row will be skipped
df = pd.read_csv(
         'sample.csv',
         skiprows=lambda i: i>0 and random.random() > p
)

df.shape

(5204, 5)

In [101]:
df.head()

,pair,text_1,text_2,authors,same,id_1,id_2
0,"['I shift a bit, warily letting my eyes dart f...",shift bit warily letting eyes dart one owl eye...,suddenly piece ice falls pit stomach im thinki...,"['1446633', '1446633']",True,0_1,0_2
1,"['I couldn""t help it. I laughed. She looked at...",couldnt help laughed looked like finally lost ...,looking said phone clarices shout young man ye...,"['2743296', '2743296']",True,1_1,1_2
2,"['Kuki, and a steak for Wally.(again, stupid. ...",kuki steak wallyagain stupid could poisoned we...,clay asked young man straightening sheets bed ...,"['793079', '793079']",True,2_1,2_2
3,['The third time was the next week when they w...,third time next week store buy last minute lun...,land mountain difficulty soon realize lot grou...,"['2937792', '2937792']",True,3_1,3_2
4,"['Why couldn""t she have better friends? Why co...",couldnt better friends couldnt someone could r...,taken steps loud crash several crates fell til...,"['807106', '807106']",True,4_1,4_2

In [92]:
def rowIndex(row):
    return row.name

df['id_1'] = df.index
df['id_1'] = (df['id_1']).astype(str) + '_1'
df['id_2'] = df.index
df['id_2'] = (df['id_2']).astype(str) + '_2'

In [93]:
df.to_csv('sample_0.1.csv',index=False)

In [100]:
df[['id_1','id_2']].to_csv('id_pairs_for_calc_distances.csv',index=False)

In [94]:
df[['text_1','id_1']].append(df[['text_2','id_2']])
df_1 = df[['text_1','id_1']]
df_2 = df[['text_2','id_2']]
df_1.columns= ['text','id']
df_2.columns= ['text','id']
df_text_and_id = df_1.append(df_2)

In [95]:
# create frequency matrix

line_counter=1
frequency = pd.DataFrame()
# dvr_raw = list(df['text_1']) + list(df['text_2']) 
for ix, row in df_text_and_id.iterrows():
    
    if line_counter%500 == 0:
        print(line_counter)
    single_df = pd.Series(row['text'].split()).value_counts().to_frame(name='frequency_in_category').reset_index().rename(columns={'index': 'element'})
    single_df['category'] = row['id']
    frequency = frequency.append(single_df)
    line_counter += 1

500
1000
1500
2000
2500
3000
3500
4000
4500
5000
5500
6000
6500
7000
7500
8000
8500
9000
9500
10000

In [96]:
frequency.to_csv('frequency_nachi.csv', index=False)

In [97]:
frequency['frequency_in_category'].max()

496